<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
  </head>
  <body>
    <div class="features">
        {{student.name}}<br>
        {{student.age}}<br>
        {{student.school}}<br>
            <!--Создание кнопки для подтверждения действия сохранить, обязателен тип submit-->
            <button class="btn btn-success" type="submit">Создать</button>
        </form>
    </div>
</body>
</html>